{% extends "base.html" %}

{% block title %}
  Details about {{ myuser.first_name }} {{ myuser.last_name }}
{% endblock %}

{% block content %}
<h1>{{ myuser.first_name }} {{ myuser.last_name }}</h1>

<p>Email: {{ myuser.email }}</p>
<p>Id: {{ myuser.id }}</p>
<a href = "{% url 'barcode' %}">
    <img src="{% url 'barcode' %}" alt="Bar Code">
</a>

<p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>


{% endblock %}